<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>task</servlet-name>
    <servlet-class>org.oscm.app.approval.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
     </listener-class>
  </listener>
<!--  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/notification</url-pattern>
  </servlet-mapping>-->
  <security-constraint>
    <display-name>Constraint1</display-name>
    <web-resource-collection>
      <web-resource-name>allowed</web-resource-name>
      <description></description>
      <url-pattern>/task/*</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
      <http-method>GETLIB</http-method>
      <http-method>COPY</http-method>
      <http-method>MOVE</http-method>
      <http-method>DELETE</http-method>
      <http-method>PROPFIND</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>MKCOL</http-method>
      <http-method>PROPPATCH</http-method>
      <http-method>LOCK</http-method>
      <http-method>UNLOCK</http-method>
      <http-method>VERSION-CONTROL</http-method>
      <http-method>CHECKIN</http-method>
      <http-method>CHECKOUT</http-method>
      <http-method>UNCHECKOUT</http-method>
      <http-method>REPORT</http-method>
      <http-method>UPDATE</http-method>
      <http-method>CANCELUPLOAD</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>role1</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Approval</realm-name>
    <form-login-config>
      <form-login-page>/loginform.jsp</form-login-page>
      <form-error-page>/loginerror.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description></description>
    <role-name>role1</role-name>
  </security-role>
</web-app>